.app {
    background-color: gray;
    width: 450px;
    min-height: 400px;
    min-width: min-content;
    border-radius: 15px;
    padding: 20px;
    text-align: left;

    justify-content: space-evenly;
    box-shadow: 10px 10px 42px 0px rgba(63, 59, 59, 0.75);
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    height: auto;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: black;
    color: #fff;
}

.table td {
    border: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.errorMessage {
    color: white;
    background-color: rgb(119, 16, 16);
}
